src/AstroToolkit/Configuration/ATKConfig.ini
src/AstroToolkit/Configuration/ATKAliases.ini

notes/
test_scripts/

dist/
__pycache__/
docs/_build/
*.pyc
*.html
!docs/_static/*.html

src/AstroToolkit/CRTS_TIMER.txt
src/AstroToolkit.egg-info
src/AstroToolkit/Timeseries/pyaov/path.dat
