include src/AstroToolkit/Timeseries/*.f90
include src/AstroToolkit/Timeseries/*.bat
include src/AstroToolkit/Timeseries/*.sh
include src/AstroToolkit/Timeseries/*.pyd
include src/AstroToolkit/Timeseries/*.pdf
include src/AstroToolkit/Timeseries/*.txt
include src/AstroToolkit/Figures/*.fits