body {
  font-family: "Inter", sans-serif;
}

body, p, div, li, a {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
}

.wy-nav-content {
    background-color: #ffffff;
}

.document {
    background-color: #ffffff;
}

.wy-nav-content {
    max-width: none;
    padding-left: 8rem;
    padding-right: 8rem;
}

.rubric {
    font-size: 175%;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
	box-sizing: border-box;
	font-family: "Inter", "Lato", "Helvetica Neue", Arial, sans-serif;
}

div.sphx-glr-download-link-note {
  height: 0px;
  visibility: hidden;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wy-nav-content h1:first-of-type {
  font-size: 2.5em;
}

.big-centred {
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
}

.center {
  display: block;
  text-align: center;
  font-weight: normal;
}
