.wy-nav-content {
    background-color: #ffffff;
}

.document {
    background-color: #ffffff;
}

.wy-nav-content {
    max-width: none;
    padding-left: 8rem;
    padding-right: 8rem;
}

.rubric {
    font-size: 175%;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
	box-sizing: border-box;
	font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}

div.sphx-glr-download-link-note {
  height: 0px;
  visibility: hidden;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}
