.bd-main .bd-content .bd-article-container {
  max-width: 100%;
}

.bd-page-width {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.bd-sidebar-primary {
    width: fit-content;
    min-width: 0;
    max-width: 20rem;
    flex-shrink: 0;
    padding-left: 1rem;
    padding-right: 3rem;
}

div.sphx-glr-download-link-note {
  height: 0px;
  visibility: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

body, p, div, li, a {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
}

.rubric {
    font-size: 175%;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
	box-sizing: border-box;
	font-family: "Inter", "Lato", "Helvetica Neue", Arial, sans-serif;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.big-centred {
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
}

video {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

dl.py.function {
    margin-bottom: 10em;
}
